.control {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 50%;
}

.actions {
  text-align: right;
}

button[type="submit"] {
  font: inherit;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
}

button[type="submit"]:hover,
button[type="submit"]:active {
  background-color: #3e8e41;
}

button[type="submit"]:focus {
  outline: none;
}
